// Define variables for your color scheme

// For example:
$red: #FD1015;
$lightblue: #BFDBF7;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #40C9A2;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light: #E1E5F2;
$dark: #022B3A;
