<%= render "shared/back" %>
<div class="container">
  <h1>Bookings</h1>
  <div class="row my-3">
    <% @bookings.each do |booking| %>
      <%= render 'bookings/card', booking: booking %>
    <% end %>
  </div>
  <br>
  <h2>Past Bookings</h2>
  <div class="row my-3">
    <% @past_bookings.each do |booking| %>
      <%= render 'bookings/card', booking: booking %>
    <% end %>
  </div>
</div>
