<%= render "shared/back" %>
<div class="container">
  <div class="row mx-auto" style="max-width: 900px;">
    <h1>Bookings</h1>
    <% @bookings.each do |booking| %>
      <%= render 'bookings/card', booking: booking %>
    <% end %>
  </div>
  <br>
  <div class="row mx-auto" style="max-width: 900px;">
    <h2>Past Bookings</h2>
    <% @past_bookings.each do |booking| %>
      <%= render 'bookings/card', booking: booking %>
    <% end %>
  </div>
</div>
