<div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
  <div class="carousel-inner img-fill-h br-v">
    <% bike.photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= "active" if index.zero? %> img-fill-h">
        <%= cl_image_tag photo.key, alt: bike.name, class: 'w-100 img-fill' %>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
