<%= simple_form_for [bike, booking] do |f| %>
  <div class="d-flex align-items-center gap-3" data-controller="booking-submit">
    <div style="width: 25rem" class="pt-3">
      <%= f.input :booking_period,
                label: false,
                as: :string,
                placeholder: 'Pick your dates here',
                input_html: { data: { controller: "datepicker", datepicker_booked_dates: @booked_dates.to_json, booking_submit_target: "input", action: "change->booking-submit#check" }, class: 'bg-info w-100' }%>
    </div>
    <div class="">
      <%= f.submit 'Create booking', data: { booking_submit_target: "button" }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
