.navbar-lewagon {
  justify-content: space-between;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  margin: 10px 0;
}

.navbar-lewagon .navbar-brand {
  position: absolute;
  left: 50%;
  display: block;
  transform: translateX(-50%);
}
