<div class="card bg-white mx-auto shadow-sm p-3 my-3" style="max-width: 40rem;">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h3 class="card-title"><%= review.user.username %></h3>
      <h4 class="card-text"><%= review.rating %> <i class="fa-solid fa-star" style="color: #ffcf4d"></i></h4>
    </div>
    <p class="card-text text-break">
      <%= review.comment %>
    </p>
  </div>
  <div class="d-flex justify-content-end">
    <p><%= review.created_at.strftime("%I:%M%p on %d/%m/%Y") %></p>
  </div>
</div>
