<div class="card bg-white mx-auto shadow-sm my-3 br-10">
  <div class="card-body px-4">
    <div class="d-flex justify-content-between">
      <h3 class="card-title"><%= review.user.username %></h3>
      <h4 class="card-text"><%= review.rating %> <i class="fa-solid fa-star" style="color: #ffcf4d"></i></h4>
    </div>
    <p class="card-text text-break">
      <%= review.comment %>
    </p>
    <div class="d-flex justify-content-end p-0">
      <p class='p-0 m-0'><%= review.created_at.strftime("%d/%m/%Y") %></p>
    </div>
  </div>
</div>
